package ${package.Mapper};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import ${package.Entity}.${entity};
import ${superMapperClassPackage};
import java.util.List;

/**
 * @auther ${author}
 * @create ${date}
 * @describe $!{table.comment}mapper类
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end
